

<p>Try</p>
<p>Displaying every card on a deck...</p>
<p><% n = 1 %>
	<% while n < 11 %>
	<%= puts n %>
	<% n = n + 1 %>
	<% end %>
</p>

<p><% name = "Ivan Sherman".split %>
	<%= name %></p>


<p><% ["D","C","H","S"].each do |s| %>
		<% [2,3,4,5,6,7,8,9,10,"J","Q","K","A"].each do |v| %>
			<img src="/Users/rails/desktop/12/TIY-Assignments/images/<%= v %><%= s %>.svg" height="250" width="200">
		<% end %>
	<% end %></p>












